

html {
    background-color: rgb(169, 212, 207);
    font-family:sans-serif;
}

header h1 {
    bottom: 30px;
}

header {
    margin: 100px auto;
    width:100%;
  height: auto;
    color:white;
    text-align: center;
    display: block;
    list-style-type: none;

}

nav {
    margin: 0;
    padding: 10;
  overflow: hidden;
  text-align: center;
  list-style: none;
  display: flex;
}

.title {
    position:relative;
    bottom: 50%;
}

.wide-image {
    width: 1000px;
}

body {
    background-color:rgb(212, 232, 231);
    margin: auto;
    width: 1000px;
}

.container {
    width: 1000px;
}

.container img {
    width: 250px;
    height: 250px;
    float: left;
}

  
.links ul li {
    margin: 0;
    padding: 0;
    display: inline;
    text-align: center;
    border-right: solid;
    list-style-type: none;
}

.contact {
    border:solid
}

.send {
    border:solid;
    width: 46px;
    height: 31px;
    text-align: center;
}

footer {
text-align: right;
}

