

html {
    background-color: rgb(169, 212, 207);
    font-family:sans-serif;
}

header h1 {
    padding-left:350px;
    padding-top:0px;
    padding-bottom: 30px;
    top: 200px;
    position: absolute;
    text-align: center;
    font-size: 50px;
    font-weight:50;
}

header {
    width:100%;
  height: auto;
    color:white;
    text-align: center;
    display: block;

}

nav ul li {
    margin: 0;
    padding-top:0px;
    padding-left: 120px;
    padding-right: 100px;
  display: inline;
  font-size: 20px;
}

li a {
    text-decoration: none;
    color: black;
}

.story {
    border-right:solid;
    border-left:solid;
    /* Adds right borders to navigation bar */
}


header img {
    width: 1000px;
}

body {
    background-color:rgb(212, 232, 231);
    margin: auto;
    width: 1000px;
    /* There's a wrapper around the body */
}

.container {
    padding: 5px;
    width: 1000px;
}

.container img {
    padding:2px;
    width: 250px;
    height: 250px;
    float: left;
    /* Makes the picture sit beside the text */
}


.contact {
    border:solid
}

.send {
    border:solid;
    width: 46px;
    height: 31px;
    text-align: center;
}

footer {
text-align: right;
}