html {
    font-family:sans-serif;
}

.home {
    background-color:orange
    color: black
}

nav img {
    width: 130px;
}

nav {
    background-color: rgb(60, 60, 60);
}


li a {
    list-style-type: none;
    text-decoration: none;
    color: orange;
}

.wrapper {
    margin: auto;
    max-width: 1200px;
    padding: 15px;
    background-color: rgb(255, 222, 160);

}

.welcome img {
    height: 615px;
    
}


.aboutus {
    background-color: rgb(255, 222, 160);
}

.aboutus img {
    height: 300px;
}

.aboutus h2 {
    font-size: 35px;
}

.digital {
    background-color: rgb(255, 222, 160);
}

.marketing {
    background-color: rgb(255, 222, 160);
}

.videoprod {
    background-color: rgb(255, 222, 160);
}

.webdev {
    background-color: rgb(255, 222, 160);
}

.print {
    background-color: rgb(255, 222, 160);
}

.john {
    background-color: rgb(255, 222, 160);
}

.bob {
    background-color: rgb(255, 222, 160);
}

iframe {
    height: 400px;
    width: 700px;
}

footer {
    background-color:rgb(60, 60, 60);
    color:orange
}